<!-- Title -->
	<h2>Product News | <%= @categoryname %> </h2>

<% @posts.each do |post| %>

	<div class="panel mypanel-category">
    	<div class="panel-heading"><%=post.title %></div>
    	<div class="panel-body"><%=post.body %></div>
    	<div class="panel-footer">Date: <%=post.created_at %> | Comments</div>
  </div>

<%end%>

<div style="text-align:center">
<%= will_paginate @posts, renderer: BootstrapPagination::Rails, previous_label: "Өмнөх", next_label: "Дараах" %>
</div>