<footer class="footer">
  <small>
    <a href="fb.com">Ticker Team | </a>
    Lead Software
  </small>

  <nav>
    <ul>
      <li><%= link_to "Home",   '#' %></li>
      <li><%= link_to "Ticker",   '#' %></li>
      <li><%= link_to "RSS",   '#' %></li>
      <li><%= link_to "API",   '#' %></li>
      <li><%= link_to "Forum",   '#' %></li>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
  <nav>
    <p>&#169; 2013 Tngri.com | All Rights Reserved</p>
</footer>