<div class="container">
    <div class="navbar row" style="margin-bottom:0px">
          <div class="col-md-12" style="margin-left:0px;">
           <footer class="footer" >
            <div class="row">
            <nav style="float:left">
              <ul>&#169; 2013 Тнгри.ком | Бүх мэдээлэл хуулиар хамгаалагдсан </ul>
            </nav>

            <nav style="float:right">
              <ul>
                <li><%= link_to "Нүүр",   '/' %></li>
                <li><%= link_to "Манай баг",   '#' %></li>
                <li><%= link_to "RSS",   '#' %></li>
                <li><%= link_to "API",   '#' %></li>
                <li><%= link_to "Форум",   '#' %></li>
                <li><%= link_to "Тухай",   '/about' %></li>
                <li><%= link_to "Холбогд", '/contact' %></li>
              </ul>
            </nav>  
            </div>
          </footer>
          </div>
    </div>
</div>
