<header class="navbar navbar-fixed-top navbar-inverse" >
  <div class="navbar-inner">
  <div class="container">
    <div class="navbar row" style="margin-bottom:0px">
          <div class="col-md-1" style="margin-left:0px;">
             <%= link_to image_tag("rails.png", :alt => "home image", :title => "Click here to return to Home", :style =>"padding:100 px; position:relative;top:3px;" ), "/" %>
          </div>
          <div class="col-md-11">
              <div class="row">
                  <nav>
                    <ul class="navbar-form pull-left list-inline">
                      <li><%= link_to "Нүүр",    '/' %></li>
                      <li><%= link_to "Холбогд",    '/contact' %></li>
                      <% if signed_in? %>
                      <li class="dropdown">
                       <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
                        Hello, <%= User.find(session[:user_id]).name %> <span class='caret'></span>
                       </a>
                      <ul class='dropdown-menu'>
                        <li id="fat-menu" class="dropdown">
                            <!-- <li class="divider"></li> -->
                            <li>
                              <%= link_to "Гарах", "/logout" %>
                            </li>
                        </li>
                      </ul>
                      <% else %>
                      <li class="dropdown">
                       <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
                        Нэвтрэх <span class='caret'></span>
                       </a>
                      <ul class='dropdown-menu'>
                        <li id="fat-menu" class="dropdown">
                            <li><%= link_to "Facebook ашиглан нэвтрэх", "/auth/facebook" %></li>
                        </li>
                      </ul>
                      <% end %>
                      </li>
                    </ul>
                  </nav>
              </div>
              <div class="row" style="border-top:thin solid grey;">
                <nav>
                  <ul class="navbar-form pull-left list-inline">
                    <li><%= link_to "Топ Мэдээллүүд:",    '#' %></li>
                    <% @categories.each do |category| %>
                    <li><%= link_to category.name,    '/categories/'+category.name %></li>
                    <% end %>
                  </ul>
                </nav>
              </div>
      </div>
  </div>
</div>
</div>
</header>