<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "home", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-left">
          <li><%= link_to "Home",    '#' %></li>
          <li><%= link_to "Contact",    '#' %></li>
          <li class="dropdown">
          	<a class='dropdown-toggle' data-toggle='dropdown' href='#'>
          		Sign in with <span class='caret'></span>
          	</a>
          	<ul class='dropdown-menu'>
          		<li><a href='#'>Facebook</a></li>
          		<li><a href='#'>Facebook</a></li>
          		<li><a href='#'>Facebook</a></li>
          	</ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="navbar-inner" id='turuu'>
    <div class="container">
      <nav>
        <ul class="nav pull-left">
          <li><%= link_to "Home",    '#' %></li>
          <li><%= link_to "Contact",    '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>