<header class="navbar navbar-fixed-top navbar-inverse" >
  <div class="navbar-inner">
  <div class="container">
    <div class="navbar">
          <div class="span1" style="margin-left:0px;">
             <%= link_to image_tag("rails.png", :alt => "home image", :title => "Click here to return to Home", :style =>"padding:100 px; position:relative;top:3px;" ), "/" %>
          </div>
          <div class="span10">
              <div class="row">
                  <nav>
                    <ul class="nav pull-left">
                      <li><%= link_to "Home",    '/' %></li>
                      <li><%= link_to "Contact",    '/contact' %></li>
                      <% if signed_in? %>
                      <li class="dropdown">
                       <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
                        Hello, <%= User.find(session[:user_id]).name %> <span class='caret'></span>
                       </a>
                      <ul class='dropdown-menu'>
                        <li id="fat-menu" class="dropdown">
                            <li><%= link_to "Profile", "#" %></li>
                            <li><%= link_to "Settings", '#' %></li>
                            <li class="divider"></li>
                            <li>
                              <%= link_to "Sign out", "/logout" %>
                            </li>
                        </li>
                      </ul>
                      <% else %>
                      <li class="dropdown">
                       <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
                        Login <span class='caret'></span>
                       </a>
                      <ul class='dropdown-menu'>
                        <li id="fat-menu" class="dropdown">
                            <li><%= link_to "Connect With Facebook", "/auth/facebook" %></li>
                        </li>
                      </ul>
                      <% end %>
                      </li>
                    </ul>
                  </nav>
              </div>
              <div class="row" style="border-top:thin solid grey;">
                <nav>
                  <ul class="nav pull-left">
                    <li><%= link_to "android",    '#' %></li>
                    <li><%= link_to "android",    '#' %></li>
                    <li><%= link_to "android",    '#' %></li>
                    <li><%= link_to "android",    '#' %></li>
                    <li><%= link_to "android",    '#' %></li>
                    <li><%= link_to "android",    '#' %></li>
                    <li><%= link_to "android",    '#' %></li>
                    <li><%= link_to "android",    '#' %></li>
                  </ul>
                </nav>
              </div>
      </div>
  </div>
</div>
</div>
</header>