<header class="navbar navbar-fixed-top navbar-inverse" >
  <div class="navbar-inner">
  <div class="container">
    <div class="navbar">
          <div class="span1" style="margin-left:0px;">
             <%= link_to image_tag("rails.png", :alt => "home image", :title => "Click here to return to Home", :style =>"padding:100 px; position:relative;top:3px;" ), "#" %>
          </div>
          <div class="span10">
              <div class="row">
                  <nav>
                    <ul class="nav pull-left">
                      <li><%= link_to "Home",    '#' %></li>
                      <li><%= link_to "Contact",    '#' %></li>
                      <li class="dropdown">
                       <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
                        Sign in with <span class='caret'></span>
                       </a>
                       <ul class='dropdown-menu'>
                          <li><a href='#'>Facebook</a></li>
                          <li><a href='#'>Twitter</a></li>
                          <li><a href='#'>Google+</a></li>
                        </ul>
                      </li>
                    </ul>
                  </nav>
              </div>
              <div class="row" style="border-top:thin solid grey;">
                <nav>
                  <ul class="nav pull-left">
                    <li><%= link_to "android",    '#' %></li>
                    <li><%= link_to "android",    '#' %></li>
                    <li><%= link_to "android",    '#' %></li>
                    <li><%= link_to "android",    '#' %></li>
                    <li><%= link_to "android",    '#' %></li>
                    <li><%= link_to "android",    '#' %></li>
                    <li><%= link_to "android",    '#' %></li>
                    <li><%= link_to "android",    '#' %></li>
                  </ul>
                </nav>
              </div>
      </div>
  </div>
</div>
</div>
</header>