<!DOCTYPE html>
<html>
<head>
  <title>Тнгри.ком | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "custom" %>
  <%= javascript_include_tag "application", "highcharts" %>
  <%= csrf_meta_tags %>
  <script src="http://code.highcharts.com/highcharts.js"></script>
</head>
<body>

<!-- Facebook -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<%= render 'layouts/header'%>

<div class="container" style="clear:both; margin-bottom:10px">
<div class="row-fluid">
	<div class='col-md-9'>
		<% flash.each do |key,value| %>
        	<div class="alert alert-<%=key %>"><%= value %></div>
		<%end%>
		<%= yield %>
	</div>
	<% @poll = Poll.last %>
	<% puts @poll %>
	<div class="col-md-3">
		<%= render 'layouts/social'%>
		<% if params[:controller] == "categories" || params[:controller] == "search" %>
		<%= render 'layouts/cate'%>
		<%= render 'layouts/videoslider'%>
		<% elsif params[:controller] == "categories" %>
		<%= render 'layouts/cate'%>
		<%= render 'layouts/videoslider'%>
		<% end %>
		<%= render 'layouts/rss'%>

<div class="banner" style="width:275px; height: 200px;">
		<object width="275" height="200" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
		  <param value="http://stat.gogo.mn/banner/greetings_gogo.swf" name="movie">
		  <param value="high" name="quality">
		  <param value="transparent" name="wmode">
		  <embed src="http://stat.gogo.mn/banner/greetings_gogo.swf" width="275" height="200" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" quality="high" wmode="transparent">
		</object>
</div>

<ins id="gg_bn_news-video-3" style="width: 275px; height: 200px; display: block; border: none; margin: 0px; padding: 0px; position: relative; visibility: visible; background-image: none; background-position: 50% 50%; background-repeat: no-repeat no-repeat;" class="ggbannerins"><div id="gg_bn_dlg_news-video-3" style="width:275px;height:200px;position:absolute;"></div><ins style="width:275px;height:200px;display:block;border:none;margin:0;padding:0;position:relative;visibility:visible;" id="aswift_1_anchor"><iframe src="http://bn.gogo.mn/news-video-3/275/200/bn.html" width="275" scrolling="no" height="200" frameborder="0" name="gg_ban_news-video-3" id="gg_ban_news-video-3" vspace="0" marginheight="0" marginwidth="0" hspace="0" allowtransparency="true" style="left:0;position:absolute;top:0;"></iframe></ins><script type="text/javascript">var WRAPPER = "gg_bn_news-video-3"; document.domain = "gogo.mn";</script><script type="text/javascript" src="http://stat.gogo.mn/bannercl/javascripts/db.js"></script><link rel="stylesheet" media="screen" href="http://stat.gogo.mn/bannercl/stylesheets/db.css"></ins>



</div>
</div>
</div>

<%= render 'layouts/footer'%>
</body>
</html>
