<!DOCTYPE html>
<html>
<head>
  <title>Тнгри.ком | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "custom" %>
  <%= javascript_include_tag "application", "highcharts" %>
  <%= csrf_meta_tags %>
  <script src="http://code.highcharts.com/highcharts.js"></script>
</head>
<body>

<!-- Facebook -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<%= render 'layouts/header'%>

<div class="container" style="clear:both; margin-bottom:10px">
<div class="row-fluid">
	<div class='col-md-9'>
		<% flash.each do |key,value| %>
        	<div class="alert alert-<%=key %>"><%= value %></div>
		<%end%>
		<%= yield %>
	</div>
	<% @poll = Poll.last %>
	<% puts @poll %>
	<div class="col-md-3">
		<%= render 'layouts/social'%>
		<% if params[:controller] == "categories" || params[:controller] == "search" %>
		<%= render 'layouts/cate'%>
		<%= render 'layouts/videoslider'%>
		<% elsif params[:controller] == "categories" %>
		<%= render 'layouts/cate'%>
		<%= render 'layouts/videoslider'%>
		<% end %>
		<%= render 'layouts/rss'%>
		<%= render 'layouts/banner'%>
</div>
</div>
</div>

<%= render 'layouts/footer'%>
</body>
</html>
